---
layout: default
title: 归档
permalink: /archive/
---
<div class="archive fade-in">
  <h1>文章归档</h1>
  <p class="archive-count">共 {{ site.posts.size }} 篇文章</p>
  {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year_group in posts_by_year %}
  <div class="archive-year fade-in fade-in-delay-{{ forloop.index | at_most: 3 }}">
    <h2 class="year-heading">{{ year_group.name }}</h2>
    <ul class="archive-list">
      {% for post in year_group.items %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d" }}</time>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
